@{
    ViewBag.Title = "Prova de Seleção da PagueVeloz";
}

<h2>@ViewBag.Title.</h2>

<strong>Carlos Vamberto de Araujo Martins Filho</strong><br/>
Manaus - Amazonas<br/>
carlosvamberto@gmail.com<br/>
(92) 98182-4565<br/>
Perfil no <a href="http://linkedin.com/in/carlosvamberto" target="_blank">LinkedIn</a>